<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link href="https://fonts.googleapis.com/css?family=Inter&display=swap" rel="stylesheet"/>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>
    <div class="container">
        <h2>Login</h2>
        <form method="POST">
            {% csrf_token %}
            <div class="input-group">
                <input type="text" name="username" placeholder="Username">
            </div>
            <div class="input-group">
                <input type="password" name="password" placeholder="Password">
            </div>
            <button type="submit" class="btn">Submit</button>
        </form>
    </div>
</body>
<script>
    const loginForm = document.getElementById('login-form');
    const errorMessage = document.getElementById('error-message');

    loginForm.addEventListener('submit', async function (e) {
        e.preventDefault();

        const username = document.getElementById('username').value;
        const password = document.getElementById('password').value;

        try {
            const response = await fetch("http://127.0.0.1:1278/api/login/", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json"
                },
                body: JSON.stringify({ username, password })
            });

            const data = await response.json();

            if (response.ok) {
                localStorage.setItem('authToken', data.token); // store token
                window.location.href = "/congrat";
            } else {
                errorMessage.textContent = data.detail || "Login failed.";
            }
        } catch (err) {
            errorMessage.textContent = "Something went wrong.";
            console.error("Error:", err);
        }
    });
</script>

</html>
